<div class="d-flex justify-content-center">
  <div class="card w-50">
    <h3 class="card-header">Sign Up</h3>

    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="mb-3">
          <%= f.label :name, class: "form-label" %>
          <%= f.text_field :name, autofocus: true, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :email, class: "form-label" %>
          <%= f.email_field :email, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :gender, class: "form-label" %><br>
          <div class="btn-group" role="group" aria-label="Gender">
            <%= f.radio_button :gender, 'Male', id: 'gender_male', class: "btn-check" %>
            <%= f.label :gender, 'Male', class: "btn btn-outline-primary", for: 'gender_male' %>

            <%= f.radio_button :gender, 'Female', id: 'gender_female', class: "btn-check" %>
            <%= f.label :gender, 'Female', class: "btn btn-outline-primary", for: 'gender_female' %>

            <%= f.radio_button :gender, 'Non-binary', id: 'gender_non_binary', class: "btn-check" %>
            <%= f.label :gender, 'Non-binary', class: "btn btn-outline-primary", for: 'gender_non_binary' %>

            <%= f.radio_button :gender, 'Prefer not to say', id: 'gender_prefer_not_to_say', class: "btn-check" %>
            <%= f.label :gender, 'Prefer not to say', class: "btn btn-outline-primary", for: 'gender_prefer_not_to_say' %>
          </div>
        </div>

        <div class="mb-3">
          <%= f.label :dob, "Date of Birth", class: "form-label" %>
          <%= f.date_field :dob, start_year: 1900, end_year: Time.now.year, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :password, class: "form-label" %>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control", id: "password" %>
        </div>

        <div class="mb-3">
          <%= f.label :password_confirmation, class: "form-label" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", id: "password_confirmation" %>
          <small id="passwordConfirmationHelp" class="form-text text-muted"></small>
        </div>

        <div class="d-flex justify-content-between">
          <%= link_to "Back", new_user_session_path, class: "btn btn-secondary" %>
          <%= f.submit "Sign Up", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  document.addEventListener('turbolinks:load', () => {
    const password = document.getElementById('password');
    const passwordConfirmation = document.getElementById('password_confirmation');
    const passwordConfirmationHelp = document.getElementById('passwordConfirmationHelp');

    function validatePassword() {
      if (password.value !== passwordConfirmation.value) {
        passwordConfirmationHelp.textContent = 'Passwords do not match';
        passwordConfirmationHelp.style.color = 'red';
      } else {
        passwordConfirmationHelp.textContent = 'Passwords match';
        passwordConfirmationHelp.style.color = 'green';
      }
    }

    password.addEventListener('input', validatePassword);
    passwordConfirmation.addEventListener('input', validatePassword);
  });
</script>
