<div class="col-md-6 col-lg-4 mb-4">
  <div class="card h-100 stretched-link show-details" data-id="<%= recommendation[:id] %>" data-type="<%= recommendation[:type] %>">
    <div class="row no-gutters">
      <div class="col-4">
        <%= image_tag "https://image.tmdb.org/t/p/w154#{recommendation[:poster_path]}", class: "card-img" %>
      </div>
      <div class="col-8">
        <div class="card-body position-relative">
          <h5 class="card-title d-flex justify-content-between align-items-start">
            <span class="title-text"><%= recommendation[:title] %></span>
            <span class="badge bg-warning text-danger ms-2"><%= recommendation[:match_score].round(2) %>%</span>
          </h5>
          <div class="card-text-small text-muted mb-1"><%= [recommendation[:country], recommendation[:release_year]].compact.join(", ") %>
            <strong>TMDb:</strong> <%= recommendation[:rating] %>
          </div>
          <div class="card-text-small text-muted"><%= (recommendation[:genres] || []).join(", ") %></div>
          <div class="stretched-link show-details" data-id="<%= recommendation[:id] %>" data-type="<%= recommendation[:type] %>"></div>
        </div>
      </div>
    </div>
  </div>
</div>
