<h1 class="mb-4">Personalized Recommendations</h1>

<div class="row">
  <% @recommendations.each do |recommendation| %>
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card h-100">
        <div class="row no-gutters">
          <div class="col-4">
            <%= image_tag "https://image.tmdb.org/t/p/w154#{recommendation[:poster_path]}", class: "card-img" %>
          </div>
          <div class="col-8">
            <div class="card-body position-relative">
              <h5 class="card-title d-flex justify-content-between align-items-start">
                <span class="title-text"><%= recommendation[:title] %></span>
                <span class="badge bg-warning text-danger ms-2"><%= recommendation[:match_score].round(2) %>%</span>
              </h5>
              <p class="card-text-small text-muted mb-1"><%= [recommendation[:country], recommendation[:release_year]].compact.join(', ') %></p>
              <p class="card-text-small text-muted"><%= (recommendation[:genres] || []).join(', ') %></p>
              <a href="#" class="stretched-link show-details" data-id="<%= recommendation[:id] %>" data-type="<%= recommendation[:type] %>"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= render 'shared/footer' %>

<!-- Popup Modal -->
<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="detailsModalLabel">Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="popup-details"></div>
      </div>
    </div>
  </div>
</div>
