<% content_for :title, "Change Your Password" %>
<% content_for :h1, "Change Your Password" %>
<div class="container">
  <div class="row justify-content-center align-items-center" style="min-height: calc(100vh - 200px);">
    <div class="col-12 col-sm-8 col-md-6 col-lg-4 col-xl-3">
      <div class="card">
        <h3 class="card-header">Change Your Password</h3>

        <div class="card-body">
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <%= f.hidden_field :reset_password_token %>

            <div class="mb-3">
              <%= f.label :password, "New password", class: "form-label" %>
              <%= f.password_field :password, autofocus: true, class: "form-control", autocomplete: "new-password" %>
              <small class="form-text text-muted">6 characters minimum</small>
            </div>

            <div class="mb-3">
              <%= f.label :password_confirmation, "Confirm new password", class: "form-label" %>
              <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
            </div>

            <div class="d-flex justify-content-between">
              <%= link_to "Log in", new_user_session_path, class: "btn btn-secondary" %>
              <%= f.submit "Change my password", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
