<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path %>">
      <img src="<%= asset_path 'cm_logo_glare.svg' %>" height="50" alt="Cinematch Logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-center">
        <% if user_signed_in? %>
          <li class="nav-item">
            <span class="nav-link user-greeting">
              Hi, <%= current_user.name %>!
            </span>
          </li>
          <li class="nav-item">
            <%= link_to profile_user_path(current_user), class: 'nav-link', title: 'Profile' do %>
              <i class="fa-solid fa-circle-user fa-2x" aria-hidden="true"></i><span class="sr-only">Profile</span>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link', title: 'Sign Out' do %>
              <i class="fas fa-sign-out-alt fa-2x" aria-hidden="true"></i><span class="sr-only">Sign Out</span>
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to new_user_session_path, class: 'nav-link', title: 'Sign In' do %>
              <i class="fas fa-sign-in-alt fa-lg" aria-hidden="true"></i><span class="sr-only">Sign In</span>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_user_registration_path, class: 'nav-link', title: 'Sign Up' do %>
              <i class="fas fa-user-plus fa-lg" aria-hidden="true"></i><span class="sr-only">Sign Up</span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
