<div class="card mb-3 watchlist-item" 
     data-id="<%= item[:id] %>"
     data-source-id="<%= item[:source_id] %>"
     data-content-type="<%= item[:content_type] %>"
     role="article" 
     aria-labelledby="title-<%= item[:source_id] %>">
  <div class="row g-0">
    <div class="col-4">
      <%= image_tag item[:poster_url], class: "img-fluid rounded-start", alt: "#{item[:title]} poster" %>
    </div>
    <div class="col-8">
      <div class="card-body position-relative">
        <h5 class="card-title mb-1" id="title-<%= item[:source_id] %>">
          <%= item[:title] %>
        </h5>
        <div class="card-text small">
          <%= [item[:release_year], item[:content_type].capitalize].compact.join(", ") %><br>
          <strong>TMDb:</strong> <%= item[:vote_average] %><br>
          <%= item[:genres].join(", ") %>
        </div>
        <div class="d-flex justify-content-between align-items-center mt-2">
          <button class="btn btn-sm <%= item[:watched] ? 'btn-warning mark-unwatched' : 'btn-success mark-watched' %>" 
                  data-source-id="<%= item[:source_id] %>" 
                  data-content-type="<%= item[:content_type] %>">
            <i class="fas <%= item[:watched] ? 'fa-eye-slash' : 'fa-eye' %> me-1"></i>
            <%= item[:watched] ? 'Unwatched' : 'Watched' %>
          </button>
          <button class="btn btn-sm btn-danger remove-item" 
                  data-source-id="<%= item[:source_id] %>" 
                  data-content-type="<%= item[:content_type] %>">
            <i class="fas fa-trash-alt me-1"></i>
            Remove
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="drag-handle position-absolute top-0 start-0 p-2 text-white">
    <i class="fas fa-grip-vertical"></i>
  </div>
</div>
