<div id="root">
  <a id="home" aria-hidden="true" class="hidden-anchor" aria-label="Home section"></a>
  <section id="hero-section" class="hero-section">
    <div class="background-image">
      <picture>
        <source srcset="<%= asset_path("landing/hero-image.webp") %>" type="image/webp">
        <source srcset="<%= asset_path("landing/2c3859877d455431b5dcb950642ec157.jpg") %>" type="image/jpeg">
        <img src="<%= asset_path("landing/2c3859877d455431b5dcb950642ec157.jpg") %>" alt="Woman gets emotional watching movie" loading="eager" class="hero-background" width="1920" height="1080">
      </picture>
    </div>
    
    <div class="hero-content">
      <h1 class="hero-title">
        Discover Content That<br>Resonates with You
      </h1>
      
      <p class="hero-subtitle">
        Personalized movie and<br>TV show recommendations
      </p>
      
      <div class="cta-button-container">
        <a href="<%= new_user_registration_path %>" class="cta-button">
          Get Started
        </a>
      </div>  
    </div>
  </section>

  <a id="features" aria-hidden="true" style="visibility:hidden;" aria-label="Features section"></a>
  <section id="features" class="features-section">
    <div class="background-overlay"></div>
    <div class="content-wrapper">
      <div class="logo-container animate-on-scroll" data-animation="fade-in">
        <img src="<%= asset_path("logos/cm_logo1_glare1.svg") %>" alt="Cinematch Logo" class="logo">
      </div>
      <div class="feature-list" role="list">
        <div class="feature" role="listitem">
          <h3 class="feature-title">Personalized Recommendations</h3>
          <p class="feature-description">Get recommendations tailored to your personality and preferences, ensuring a viewing experience that aligns with your unique tastes and interests.</p>
        </div>
        <div class="feature" role="listitem">
          <h3 class="feature-title">Discover Hidden Gems</h3>
          <p class="feature-description">Uncover titles that often go unnoticed amidst the marketing noise. Our platform ensures you don't miss out on under-discovered gems, providing a diverse selection for you to explore.</p>
        </div>
        <div class="feature" role="listitem">
          <h3 class="feature-title">Easy-to-Use Interface</h3>
          <p class="feature-description">Navigate effortlessly through a sleek and intuitive design, making it simple to find, save, and enjoy your next favorite film or show without any hassle.</p>
        </div>
      </div>
    </div>
  </section>

  <a id="why" aria-hidden="true" style="visibility:hidden;" aria-label="Why Cinematch section"></a>
  <section class="entertainment-section">
    <div class="content-wrapper">
      <h2 class="heading animate-on-scroll" data-animation="baseline">
        Entertainment<br>Made Personal
      </h2>
      <picture>
        <source srcset="<%= asset_path("landing/laptop.webp") %>" type="image/webp">
        <source srcset="<%= asset_path("landing/laptop.png") %>" type="image/png">
        <img src="<%= asset_path("landing/laptop.png") %>" alt="Laptop showcasing app" class="laptop-image animate-on-scroll" data-animation="slide-right">
      </picture>
      <picture>
        <source srcset="<%= asset_path("landing/iphone.webp") %>" type="image/webp">
        <source srcset="<%= asset_path("landing/iphone.png") %>" type="image/png">
        <img src="<%= asset_path("landing/iphone.png") %>" alt="iPhone showcasing app" class="iphone-image animate-on-scroll" data-animation="slide-left">
      </picture>
      <p class="description animate-on-scroll" data-animation="slide-left">
        Leveraging advanced algorithms and<br>
        user data, we ensure that you always<br>
        find something you'll love to watch.
      </p>
    </div>
  </section>

  <a id="demo" aria-hidden="true" style="visibility:hidden;" aria-label="Demo section"></a>
  <section id="cinematch-in-action" class="video-section">
    <div class="content-wrapper">
      <h2 class="section-title">Cinematch in Action</h2>
      <div class="video-container">
        <div id="video-placeholder" class="video-placeholder">
          <picture>
            <source srcset="<%= asset_path('landing/video-thumbnail.webp') %>" type="image/webp">
            <source srcset="<%= asset_path('landing/demo-thumbnail.jpg') %>" type="image/jpeg">
            <img src="<%= asset_path('landing/demo-thumbnail.jpg') %>" alt="Demo Video thumbnail" class="video-thumbnail">
          </picture>
          <button id="play-video" class="play-button">
            <i class="fas fa-play"></i>
          </button>
        </div>
      </div>
    </div>
  </section>
  <script>
  document.addEventListener('DOMContentLoaded', function() {
    const placeholder = document.getElementById('video-placeholder');
    const playButton = document.getElementById('play-video');
  
    playButton.addEventListener('click', function() {
      const iframe = document.createElement('iframe');
      iframe.setAttribute('width', '100%');
      iframe.setAttribute('height', '100%');
      iframe.setAttribute('src', 'https://www.youtube.com/embed/PIfEJnWJzdc?si=rd7bBrzOf7ZYnv_W&autoplay=1');
      iframe.setAttribute('title', 'Cinematch Product Demo');
      iframe.setAttribute('frameborder', '0');
      iframe.setAttribute('allow', 'accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share');
      iframe.setAttribute('allowfullscreen', '');
  
      placeholder.innerHTML = '';
      placeholder.appendChild(iframe);
    });
  });
  </script>
                
  <a id="contact" aria-hidden="true" style="visibility:hidden;" aria-label="Contact section"></a>
  <section id="call-to-action" class="cta-section">
    <div class="cta-overlay"></div>
    <div class="content-wrapper">
      <h2 class="section-title animate-on-scroll" data-animation="baseline">
        Ready to Discover<br>
        Your Next Favorite Movie?
      </h2>
      <a href="<%= new_user_registration_path %>" class="cta-button animate-on-scroll" data-animation="pop">GET STARTED</a>
      <div class="footer-content">
        <div class="logo-container animate-on-scroll" data-animation="fade-in">
          <img src="<%= asset_path("logos/cm_logo1_mint.svg") %>" alt="Cinematch Logo" class="footer-logo">
          <p class="copyright" style="text-align: center;">© <%= Date.today.year %> Cinematch.</p>
        </div>
         <div class="footer-links-copyright animate-on-scroll" data-animation="fade-in">
          <%= link_to "Contact Us", contact_path, class: "footer-link" %> <br>
          <%= link_to "Terms of Service", terms_path, class: "footer-link" %> <br>
          <%= link_to "Privacy Policy", privacy_path, class: "footer-link" %>
        </div>
      </div>
    </div>
  </section>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
  const animatedElements = document.querySelectorAll('.animate-on-scroll');

  const observer = new IntersectionObserver((entries) => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        setTimeout(() => {
          entry.target.classList.add('animated');
        }, 100);
        observer.unobserve(entry.target);
      }
    });
  }, { threshold: 0.2 });

  animatedElements.forEach(el => observer.observe(el));
});
</script>
