<!DOCTYPE html>
<html>
  <head>
    <title>Cinematch</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render 'shared/cdn' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'shared/navbar' %>

    <div class="container mt-4">
      <%= render 'shared/alerts' %>
      <%= yield %>
    </div>

    <!-- Popup Modal -->
    <div id="popup" class="popup" style="display:none;">
      <div class="popup-content">
        <span class="close-button" onclick="closePopup();">&times;</span>
        <div id="popup-details"></div>
      </div>
    </div>
  </body>
</html>
