<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinematch</title>
    <meta name="description" content="Personalized Content Recommendations" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render 'shared/cdn' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'landing', media: 'all', 'data-turbo-track': 'reload' %>

    <noscript>
      <style>
        @keyframes pulse {}.animated {  animation-play-state: running !important;}
      </style>
    </noscript>
  </head>

  <body>
    <%= render 'shared/navbar' %>

    <%= yield %>
  </body>
</html>
